// Navigation code here

nav{
    .flex(column, nowrap, center, center);
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.7;
    h1 {
        font-size: 3rem;
        margin-top: 10px;
    }
    .links{
        .flex(row, nowrap, space-around, center);
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        a{
            display:block;
            text-decoration: none;
            color: black;
        }
    }
}